.swiper-button-next,
.swiper-button-prev
{
    top: auto;
    bottom: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 65px;
    height: 42px;
    margin: 0 0 32px;

    transition: .2s linear;
    transform: none;

    color: #fff;
    border: 1px solid #565656;
    border-radius: 0;
    background: none;
}

.swiper-button-prev
{
    right: 64px;
    left: auto;
}

.swiper-button-next
{
    right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 7px;
    height: 13px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #fff;
    border-color: #231f20;
    background: #231f20;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: -28px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 14px;

    pointer-events: none;
}


.swiper-pagination-bullet
{
    position: relative;

    display: block;

    width: 14px;
    height: 14px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    background: #fff;
}


.swiper-pagination-bullet:after
{
    position: absolute;

    display: block;

    width: 8px;
    height: 8px;
    margin: auto;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    background: #828282;

    inset: 0;
}


.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 16px !important;
}


.swiper-pagination-bullet:hover:after,
.swiper-pagination-bullet.active:after
{
    opacity: 1;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
